@model ClassRegister.Models.TeacherDTO

@{
    ViewData["Title"] = "Create Teacher";
}

<h1>Create Teacher</h1>
<hr />
<form asp-action="CreateTeacher">
    <br>
    <h3>Personal Information</h3>
    <hr />
    @* First row *@
    <div class="form-row">
        <div class="form-group col-4">
            <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    @* Second row *@
    <div class="form-row">
        <div class="form-group col-4">
                <input asp-for="DateOfBirth" class="form-control" placeholder="Enter Birthday" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
                <select asp-for="Subject" class ="form-control" asp-items="Html.GetEnumSelectList<Subject>()"></select>
        </div>
    </div>
    <br>
    <h3>Account Information</h3>
    <hr />
    @* Third row *@
    <div class="form-row">
        <div class="form-group col-4">
            <input asp-for="Email" class="form-control" placeholder="Enter Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <input asp-for="Password" class="form-control" placeholder="Enter Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" name="Add Teacher" value="Create" class="btn btn-primary" />
    </div>
</form>
